nodetool -u cassandra -pwf /apps/jmx.password cleanup
nodetool -u cassandra -pwf /apps/jmx.password repair -pr
nodetool -u cassandra -pwf /apps/jmx.password snapshot
nodetool -u cassandra -pwf /apps/jmx.password clearsnapshot
nodetool -u cassandra -pwf /apps/jmx.password decommssion
nodetool -u cassandra -pwd /apps/jmx.password 
./dsetool -a cassandra ring
./dsetool -a cassandra cassandra-stop
./dsetool -a cassandra cassandra-start
nodetool -u cassandra -pwf /apps/jmx.password drain
nodetool -u cassandra -pwf /apps/jmx.password repair -full
nodetool -u cassandra -pwf /apps/jmx.password 


Keyspace name
Column family 
Ring
Multi datacenter

Read Repair
Key Cache
Row Cache
Bloom Filter
Replication
Seeds
Cluster name
Listner Address
Rpc Address
cassandra.yaml
rack-dc.propertiefile.yaml
cassandra-env.sh



Spark is cluster computing platform.Spark is analytics framework

Spark is the in memory data processing.



Cassandra enabled spark.


Using Spark extract the data from cassandra, writing the data into different destination.





